@import '~normalize.css';
$color:red;
@import "../assets/fonts/Oswald.css";
body{
  font-family: 'Oswald-Regular', sans-serif;
  background: grey;
  color:blue;
  #app{
  width: 400px;
  height: 400px;
  background: white;
}
}