@import "../variables";
@import "../mixins";
.excel__table{
  @include borderBottom;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  .table{
    background: $hovercolor;
    border-right: 1px solid $formulacolor;
    &__resize{
      position: absolute;
      opacity: 0;
      &:active,&:hover{
        background: $resizecolor;
        opacity: 1 !important;
      }
    }
    &__row{
      display: flex;
      border-bottom: 0;
      border-top: 0;
      min-height: 24px;
    }
    &__col{
      border: 1px solid $formulacolor;
      min-width: 74px;
      text-align: center;
      padding: 2px 5px;
      border-left: 0;
      border-top: 0;
      background: $tablecolor;
      position: relative;
      .table__resize{
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        &:active,&:hover{
          cursor: col-resize;
        }
      }
    }
    &__row-info{
      min-width: 74px;
      padding: 2px 5px;
      border: 1px solid $formulacolor;
      text-align: center;
      border-top: 0;
      border-left: 0;
      background: $tablecolor;
      position: relative;
      .table__resize{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        &:active,&:hover{
          cursor: row-resize;
        }
      }
    }
    &__row-data{
      display: flex;
    }
    &__cell{
      @include reset;
      min-width: 74px;
      border: 1px solid $formulacolor;
      padding: 2px 5px;
      border-top: 0;
      border-left: 0;
      word-break: break-all;
      &.selected{
        outline: 2px solid $resizecolor !important;
        box-shadow: 0px -1px 10px 1px #1718ff80;
      }
    }
  }
}

